.hero-unit {
    margin-top:60px;
}

.row-additional td {
    border-top: 0;
    border-spacing: 0;
}

.group-well .table {
    margin-bottom: 0;
}

span.pull-right {
    float: right;
}

.row-comment td {
    padding-top: 0;
}